<html>
    <head>
    <meta http-equiv='X-UA-Compatible' content='IE=9'/>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
    <title>Administration de site</title>
    <link rel="stylesheet" type="text/css" href="/lib/ext3.0/resources/css/ext-all.css">
    <link rel="stylesheet" type="text/css" href="/css/adminsite.css">
    <script  src="/lib/ext3.0/adapter/ext/ext-base-debug.js"></script>
    <script  src="/lib/ext3.0/ext-all-debug.js"></script>
    <script  src="/lib/ext3.0/CompositeField.js"></script>
    <script  src="/lib/ext3.0/miframe.js"></script>
    <script  src="/lib/extjs_overload.js"></script>
    <script  src="/lib/BufferView.js"></script>
    <script  src="/lib/ext3.0/ext-lang-fr.js"></script>
    <script  src="/lib/adminsite.js"></script>
    <script  src="/lib/searcheditor.js"></script>
    <script  src="/lib/add_projection.js"></script>
    <script  src="/lib/window.js"></script>
    <script  src="/lib/wmts_window.js"></script>
    <link rel="stylesheet" type="text/css" href="/lib/ext3.0/ext-ux/SuperBoxSelect/superboxselect.css">
    <script  src="/lib/ext3.0/ext-ux/SuperBoxSelect/SuperBoxSelect.js"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    <script type='text/javascript'>
    {% for key,value in parameters.tabParamJs %}
      try {
        var url = Routing.generate('{{ value }}');
        var {{ key }} = url;
      } catch(e) {
        try {
          var {{ key }} = eval('{{ value }}');
        } catch(e) {
          var {{ key }} = '{{ value }}';
        }
      }
    {% endfor %}
    var PRODIGE_CARTO_URL = '{{ parameters.PRODIGE_CARTO_URL  }}';
    var PRODIGE_CATALOGUE_URL = '{{ parameters.PRODIGE_CATALOGUE_URL  }}';

    var tabDNSStore = [
    ];
    </script>
    </head>
    <body>
    <form name='formMapOpen' target='Cartographie_dynamique' action='' method='POST'>
    <input type='hidden' name='login' value='cartes'><input type='hidden' name='pass' value='cartes'><input type='hidden' name='PN_IS_ADM_PRODIGE' value=1>
    </form>
    </body>
</html>