.extensive-remove {
background-image:url(../images/remove.gif) ;
}
.x-grid3-hd-inner { white-space:normal !important; overflow: hidden; } .ux-grid3-hd-wrap { display:table-cell; vertical-align:middle; } .ux-grid3-hd-btn-large { background:#c3daf9 url(/img/js/comparisons/grid3-hd-btn-large.gif) no-repeat left center; }

.buttoncls {
	padding-left: 5px;
	padding-top: 1px;
}

form#ajout_projection{
	font-weight: bold;
}
form#ajout_projection tr.title_line{
	margin-top: 10px;
}
form#ajout_projection th{
	text-align: right;
}
form#ajout_projection tr.title_line th{
	text-align: left;
}
form#ajout_projection #proj_dispo{
	width: 345px;
}
form#ajout_projection tr td,
form#ajout_projection tr td input,
form#ajout_projection tr td textarea,
form#ajout_projection tr td select{
	width: 350px;
}
form#ajout_projection tr td.follow_by_elem,
form#ajout_projection tr td input.follow_by_elem,
form#ajout_projection tr td textarea.follow_by_elem,
form#ajout_projection tr td select.follow_by_elem{
	width: 270px;
}
form#ajout_projection tr td.follow_by_elem button{
	float: right;
	width: 75px;
}

.x-date-menu {
   width: 200px;
}